:root {
    --primary: #ffffff;
    --secondary: #509cdb;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --text: #4f4f4f;
    --text-light: #ffffff;
    --search: #fcfafa;
    --border: #d5d5d5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

#main-container {
    height: 100%;
    width: 100%;
}

input,
select,
textarea,
button {
    font-family: inherit;
}
