@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

:root {
  --primary: #FFFFFF;
  --secondary: #4880FF;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --text: #202224;
  --text-light: #FFFFFF;
  --search: #F5F6FA;
  --border: #D5D5D5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito, sans-serif;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
}